# Node
node_modules/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
# Django
*.log
*.sqlite3
# Environment variables
.env
.env.local
# Build artifacts
.next/
build/
# OS files
.DS_Store
Thumbs.db
# IDE
.vscode/
.idea/
# Misc
coverage/
